
@{
    ViewBag.Title = "SysMenu";
}

<h1>Dashboard</h1>
<div>

</div>
<div class="panel-group">
    <div class="panel-default">
        <div class="panel-heading">
            <h2>Menu</h2>
        </div>
        <div class="panel-body">
            <div class="col-sm-1 ">
                <a class="btn btn-default" href="~/Software/MstEmployee"><h2><i class=" glyphicon glyphicon-user"></i></h2>Employee</a>
            </div> 
            <div class="col-sm-1 ">
                <a class="btn btn-default"><h2><i class=" glyphicon glyphicon-bookmark"></i></h2>Mandatory</a>
            </div> 
            <div class="col-sm-1 ">
                <a class="btn btn-default"><h2><i class=" glyphicon glyphicon-align-justify"></i></h2>Shiftcode</a>
            </div>
        </div>
        <div class="panel-footer">
             Footer
        </div>
    </div>
</div>
